@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  width: 100vw;
}


@keyframes loader-animation {
  0% {
    transform: translateX(50px);
  }

  25% {
    transform: translateX(50px);
  }

  50% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(50px);
  }
}

.animate-loader {
  animation-name: loader-animation;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  animation-iteration-count: infinite;
}


